body {
    font-family: arial, helvetica;
    font-size: 12px;
    background-color: #fafafa;
}
input {
    font-family: arial, helvetica;
    font-size: 12px;
}
td {
    font-family: arial, helvetica;
    font-size: 13px;
}
th {
    font-family: arial, helvetica;
    font-size: 14px;
}
h1 {
    text-align: center;
    font-family: arial, helvetica;
    font-size: 12px;
    color: #069;
}
form {
    margin: 0;
    padding: 0;
}
a {
    color: #069;
}
label {
    font-size: 14px;
    font-weight: bold;
    display: block;
    margin-top:10px;
    margin-bottom: 2px;
}
#content {
    width: 800px;
    margin: 0 auto;
}
.logon {
    display: block;
    font-size: 18px;
    width: 350px;
    margin-left: 500px;
}
.logon_input {
    display: block;
    font-size: 18px;
    width: auto;
    left: 50%;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.showWishList {
    font-size: 18px;
    position: absolute;
    display: inline-block;
    width: 500px;
    top: 15%;
    left: 20%;
    right: 80%;
    text-align: right;
}
.showWishList input {
    font-size: 18px;
    text-align: left;
    width: auto;
    margin-left: 5px;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.error {
    font-size: 16px;
    text-align: center;
    color: #c00;
    margin-top: 5px;
}
.createWishList {
    position: absolute;
    left: 50%;
    margin-left: -150px;
    top: 385px;
    color: blue;
    font-size: 30px;
}
.logo {
    width: 600px;
    float:left;
}

.welcome {
    top: 10%;
    text-align: center;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 24px;
    color: teal;
}                      

.enterData {
    position: relative;
    left: 35%;
    vertical-align: top;
}

.button {
    top: 40%;
    text-align: center;
}

.table {
    position: absolute;
    top: 20%;
    left: 20%;
}

.buttonsOnEditWishList {
    position: absolute;
    top: 20%;
    right: 20%;
}

.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
	background:-moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0);
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family:arial;
	font-size:11px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
	background:-moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed',GradientType=0);
	background-color:#dfdfdf;
}
.myButton:active {
	position:relative;
	top:1px;
}

.myButton.big{
    font-size: 18px;
}


table.std {
    margin-left: auto; 
    margin-right: auto;
    text-align: center;
    margin-bottom: 15px;
    border-collapse: separate;
    border-spacing: 0px;
    border: 1px solid #ccc;
    *border-collapse: expression('separate', cellSpacing = '0px'); /* ie fix */
}
table.std th {
    background-color: #cbe3f3;
    font-size: 26px;
    padding: 6px 12px;
    color: #4c2c00;
    font-weight: bold;
    border-bottom: 1px solid #acc7dd;
    border-right: 1px solid #acc7dd;
    border-top: 1px solid #dceffd;
    border-left: 1px solid #dceffd;
}
table.std td {
    font-size: 20px;
    padding: 6px 12px;
    border-bottom: 1px solid #c7d8e5;
    border-right: 1px solid #c7d8e5;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    color:#333;
    background-color: #eaf1f7;
}

